/*Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #221e1f;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar {
    display: none;
  }

h1{
    font-family: HNBold;
    font-size: 100px;
    color: #fff9eb;
}

p{
    font-family: HW;
    color: #fff9eb;
}

/*Cursor*/
.cursor {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 850; /* so that it stays on top of all other elements */
  }

.cursor-diff {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #fff9eb;
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    display: block;
    mix-blend-mode: difference;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }


/*Splashscreen*/
#splashscreen {
    background: #fff9eb url(/gif/loader/loader.gif) no-repeat center;
    background-size: 15%;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 904;
    overflow: hidden;
}

/*Preloader*/
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 902;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bar{
    width: 105vw;
    height: 16.6667vh;
    position: relative;
    background: #221e1f; /*Color: */
    transition: background-color 1s ease;
    z-index: 901;
    overflow: hidden;
}

.counter {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 903;
    color: transparent;
    font-size: 250px;
    font-weight: bolder;
    font-family: bebas, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
    background-color: #565656;
    text-shadow: 2px 2px 3px #fff9eb;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

/*Header*/

#header{
    width: 100%;
    height: 55px;
    margin: 0px;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    background-color: #221e1f;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#headername{
    font-family: HNBold;
    color: #fff9eb;
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

/*Start screen*/
.start {
    background: #221e1f;
    background-color: #221e1f;
    color: #221e1f;;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    z-index: 900;
    overflow: hidden;
}

.startlogo {
    height: 20%;
    width: 20%;
    border-radius: 30px;
    background: #221e1f;
    justify-content: center;
    align-items: center;
    box-shadow: #fff9eb;
}

.startbtn {
    margin: 12px;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background: #221e1f;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #1b1819, 5px 5px 15px #222, inset 5px 5px 10px #817c70, inset -5px -5px 10px #222;
    font-family: HNBold;
    border: none;
    font-size: 17px;
    color: #817c70;
    transition: 500ms;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 6px;
}

.startbtn:hover {
    box-shadow: -5px -5px 15px #817c70, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #817c70;
    color: #fff9eb;
    transition: 500ms;
}

.container{
    background-color: #221e1f;
    display: inline-block;
}

#contents {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*------------------/ OTHERS /------------------*/

.sticky {
    display: inline-block;
    position: fixed;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
}

header .navigations {
    z-index: 99999;
}

.logo {
    transition: background 2s ease-in-out;
    width: 100px;
    position: fixed;
    margin: 55px;
    z-index: 899;
    mix-blend-mode: difference;
    display: none;
}

.logo:hover {
    transform: scale(1.1);
}

#facebook {
    width: 40px;;
    margin-left: 68px;
    margin-bottom: 65px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#instagram {
    width: 40px;;
    margin-left: 68px;
    margin-bottom: 140px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#discord {
    width: 40px;
    margin-left: 68px;
    margin-bottom: 215px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

#linkedin {
    width: 40px;
    margin-left: 68px;
    margin-bottom: 290px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 898;
    mix-blend-mode: difference;
}

nav ul {
    float: right;
    text-align: right;
    margin: 55px;
    margin-top: 60px;
    margin-right: 80px;
    line-height: 30px;
    list-style: none;
}

.menu {
    text-decoration: none;
    font-family: HNBold;
    color: #fff9eb;
    display: none;
}

.menu li a {
    text-align: right;
}

.soundtoggle a {
    text-decoration: none;
    color: #fff9eb;
    font-family: HNBold;
    float: right;
    text-align: right;
    writing-mode: vertical-lr; /* vertical-lr for vertical from bottom to top */
    text-orientation: mixed; /* optional, helps handle non-Latin text */
    text-align: center; /* optional, to center the text horizontally */
    white-space: nowrap; /* optional, prevents text from wrapping */
}

.soundtoggle {
    writing-mode: vertical-lr; /* vertical-lr for vertical from bottom to top */
    text-orientation: mixed; /* optional, helps handle non-Latin text */
    position: fixed;
    mix-blend-mode: difference;
    bottom: 0;
    right: 0;
    margin: 75px;
    z-index: 896;
    display: none;
}

.soundtoggle {
    transition: all 0.5s ease;
}

#copyrightMessage {
    margin: 5px;
    mix-blend-mode: difference;
    position: fixed;
    color: gray;
    pointer-events: none;
    z-index: 9999999999;
    font-family: HN;
    font-size: 10px;
    background-color: #c4c4c4;
    padding: 5px;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 4px;
    opacity: 100%;
    text-align: center;
}

#hoverMessage {
    margin: 5px;
    mix-blend-mode: difference;
    position: fixed;
    color: gray;
    pointer-events: none;
    z-index: 9999999999;
    font-family: HN;
    font-size: 10px;
    background-color: #c4c4c4;
    padding: 5px;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 4px;
    opacity: 100%;
    text-align: center;
}


/*
nav {
    background: transparent;
    height: 100%;
    width: 100%;
    padding-top: 0px;
    position: fixed;
    float: right;
    z-index: 899;
}


nav ul {
    float: right;
    padding-right: 0px;
    text-align: right;
}

nav ul li a {
    color: #fff9ebc1;
    text-align: right;
} */

/*------------------/ SECTIONS /------------------*/

#section1{
    background-color: hwb(345 12% 86%);
    width: 100%;
    height: 100vh;
    position: relative;
    display:block;
}

.video-container video {
    opacity: 0;
}

#video-background {
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 849;
    background-size: cover;
    background-position: center center;
    transition: opacity 1s;
}


#tagline {
    mix-blend-mode: difference;
    position: relative;
    top: 50%;
    left: 50%;
    float: center;
    transform: translate(-50%, -50%);
    font-family: HNBold;
    font-size: 140px;
    line-height: 115px;
    text-align: center;
    color: #fff9eb;
    letter-spacing: -3px;
    z-index: 895;
}

#tagline2 {
    mix-blend-mode: difference;
    position: relative;
    top: 50%;
    left: 50%;
    float: center;
    transform: translate(-50%, -50%);
    font-family: HNBold;
    font-size: 140px;
    line-height: 115px;
    text-align: center;
    color: #fff9eb;
    letter-spacing: -3px;
    z-index: 895;
}


#nameontagline {
    mix-blend-mode: difference;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: HN;
    font-size: 15px;
    line-height: 100px;
    text-align: center;
    color: #fff9eb;
    letter-spacing: 5px;
    z-index: 895;
}

#section2{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
    display:block;
    /*display: flex*/
    /*padding: 50px*/
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    z-index: 801;
}

/*------------------/ OTHERS /------------------*/

#backgroundMusic {
    margin: 12px;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background: #221e1f;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #1b1819, 5px 5px 15px #222, inset 5px 5px 10px #817c70, inset -5px -5px 10px #222;
    font-family: HNBold;
    border: none;
    font-size: 17px;
    color: #817c70;
    transition: 500ms;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 6px;
}

/*------------------/ RESPONSIVENESS /------------------*/

/* Mobile specific styles */
body.mobile {
    width: 100%;
    height: 100%;
}
body.mobile .counter {
    font-size: 80px;
  }

body.mobile .startlogo {
        height: 10%;
        width: 20%;
        border-radius: 30px;
        background: #221e1f;
        justify-content: center;
        align-items: center;
    }

body.mobile .startbtn {
        margin: 12px;
        height: 30px;
        width: 100px;
        border-radius: 30px;
        background: #221e1f;
        justify-content: center;
        align-items: center;
        box-shadow: -5px -5px 15px #1b1819, 5px 5px 15px #222, inset 5px 5px 10px #817c70, inset -5px -5px 10px #222;
        font-family: HNBold;
        border: none;
        font-size: 8px;
        color: #817c70;
        transition: 500ms;
        display: inline-block;
        cursor: pointer;
        letter-spacing: 2px;
}

body.mobile .startbtn:hover {
    box-shadow: -5px -5px 15px #817c70, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #817c70;
  color: #fff9eb;
  transition: 500ms;
}

container.mobile {
    width: 100%;
    height: 100%;
}

body.mobile #loader {
        background-size: 30%;
    }

body.mobile .cursor {
        height: 0;
        width: 0;
        border-radius: 204px;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 0.3s ease;
        transform-origin: center center;
        pointer-events: none;
        z-index: 0; /* so that it stays on top of all other elements */
    }
body.mobile .cursor-diff {
        height: 0px;
        width: 0px;
        border-radius: 100%;
        background-color: #fff9eb;
        position: fixed;
        top: 0;
        opacity: 0;
        left: 0;
        transition: transform .3s ease;
        transform-origin: center center;
        pointer-events: none;
        display: block;
        mix-blend-mode: difference;
        z-index: 99999999; /* so that it stays on top of all other elements */
      }

@media only screen and (max-width: 768px) {
        .logo {
            background-image: url('/Portfolio\ Assets/Svg/4.svg');
            transition: background 2s ease-in-out;
            width: 75px;
            position: fixed;
            margin: 8px;
            margin-left: 0px;
            z-index: 899;
            mix-blend-mode: difference;
        }

        #facebook {
            width: 30px;
            margin-bottom: 10px;
            margin-left: 10px;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        #instagram {
            width: 30px;
            margin-bottom: 50px;
            margin-left: 10px;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        #discord {
            width: 30px;
            margin-left: 10px;
            margin-bottom: 90px;
            position: fixed;
            bottom: 0;
            left: 0;
            display: none;
        }

        #linkedin {
            width: 30px;
            margin-left: 10px;
            margin-bottom: 130px;
            position: fixed;
            bottom: 0;
            left: 0;
            display: none;
        }

        nav {
            position: fixed;
            width: 100%;
            z-index: 898;
            mix-blend-mode: difference;
        }

        nav ul {
            float: right;
            text-align: right;
            margin: 55px;
            margin-top: 8px;
            margin-right: 15px;
            line-height: 30px;
            list-style: none;
            font-size: 15px;
        }

        .menu {
            text-decoration: none;
            font-family: HNBold;
            color: #fff9ebc1;
        }

        .menu li a {
            text-align: right;
        }

        #tagline {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: HNBold;
            font-size: 110px;
            line-height: 90px;
            text-align: left;
            margin-left: 30px;
            color: #fff9eb;
            letter-spacing: -3px;
        }

        #nameontagline {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: HN;
            font-size: 15px;
            line-height: 75px;
            text-align: left;
            margin-left: 35px;
            color: #fff9eb;
            letter-spacing: 5px;
        }



        .soundtoggle a {
            text-decoration: none;
            color: #fff9ebc1;
            font-family: HNBold;
            font-size: 10px;
            float: right;
            text-align: right;
            writing-mode: vertical-lr; /* vertical-lr for vertical from bottom to top */
            text-orientation: mixed; /* optional, helps handle non-Latin text */
            text-align: center; /* optional, to center the text horizontally */
            white-space: nowrap; /* optional, prevents text from wrapping */
        }

        .soundtoggle {
            writing-mode: vertical-lr; /* vertical-lr for vertical from bottom to top */
            text-orientation: mixed; /* optional, helps handle non-Latin text */
            position: fixed;
            mix-blend-mode: difference;
            bottom: 0;
            right: 0;
            margin: 75px;
            margin-bottom: 20px;
            margin-right: 10px;
            z-index: 896;
        }

        .soundtoggle {
            transition: all 0.5s ease;
        }
    }

@media only screen and (max-width: 767px) {
        .logo {
            margin-left: 0px;
            margin: 8px;
            width: 50px;
            z-index: 899;
            margin-left: 1px;
            margin-top: 5px;
        }

        #facebook {
            width: 25px;
            margin-bottom: 10px;
            margin-left: 10px;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        #instagram {
            width: 25px;
            margin-bottom: 50px;
            margin-left: 10px;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        #discord {
            width: 25px;
            margin-left: 10px;
            margin-bottom: 90px;
            position: fixed;
            bottom: 0;
            left: 0;
            display: none;
        }

        #linkedin {
            width: 25px;
            margin-left: 10px;
            margin-bottom: 130px;
            position: fixed;
            bottom: 0;
            left: 0;
            display: none;
        }

        nav ul {
            float: right;
            text-align: right;
            margin: 55px;
            margin-top: 8px;
            margin-right: 10px;
            line-height: 20px;
            list-style: none;
            font-size: 10px;
        }

        #tagline {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: HNBold;
            font-size: 60px;
            line-height: 55px;
            text-align: left;
            margin-left: 18px;
            color: #fff9eb;
            letter-spacing: -3px;
        }

        #nameontagline {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: HN;
            font-size: 15px;
            line-height: 50px;
            text-align: left;
            margin-left: 23px;
            color: #fff9eb;
            letter-spacing: 5px;
        }


        .soundtoggle a {
            text-decoration: none;
            color: #fff9ebc1;
            font-family: HNBold;
            font-size: 10px;
            float: right;
            text-align: right;
            writing-mode: vertical-lr; /* vertical-lr for vertical from bottom to top */
            text-orientation: mixed; /* optional, helps handle non-Latin text */
            text-align: center; /* optional, to center the text horizontally */
            white-space: nowrap; /* optional, prevents text from wrapping */
        }

        .soundtoggle {
            writing-mode: vertical-lr; /* vertical-lr for vertical from bottom to top */
            text-orientation: mixed; /* optional, helps handle non-Latin text */
            position: fixed;
            mix-blend-mode: difference;
            bottom: 0;
            right: 0;
            margin: 75px;
            margin-bottom: 20px;
            margin-right: 10px;
            z-index: 896;
        }

        .soundtoggle {
            transition: all 0.5s ease;
        }
  }



    /* Tablet specific styles */
  /*body.tablet .cursor {
    height: 0;
    width: 0;
    border-radius: 204px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 0;
  }

  body.tablet .cursor-diff {
    height: 0px;
    width: 0px;
    border-radius: 100%;
    background-color: #fff9eb;
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    display: block;
    mix-blend-mode: difference;
    z-index: 99999999;x`
  }*/

/*------------------/ FONTS /------------------*/
@font-face {
    font-family: bebas;
    src: url(/fonts/BebasNeue.ttf);
}

@font-face {
    font-family: mark;
    src: url(/fonts/mark.woff2);
}

@font-face {
    font-family: cosmic;
    src: url(/fonts/cosmic.otf);
}

/*August*/
@font-face {
    src: url(/fonts/August/August.ttf);
    font-family: August;
}

/*BluSans*/
@font-face {
    src: url(/fonts/BluSans/BluSans-Light.ttf);
    font-family: BluSans-Light;
}
@font-face {
    src: url(/fonts/BluSans/BluSans-Regular.ttf);
    font-family: BluSans;
}
@font-face {
    src: url(/fonts/BluSans/BluSans-Medium.ttf);
    font-family: BluSans-Medium;
}
@font-face {
    src: url(/fonts/BluSans/BluSans-Bold.ttf);
    font-family: BluSans-Bold;
}
@font-face {
    src: url(/fonts/BluSans/BluSans-Black.ttf);
    font-family: BluSans-Black;
}

/*Compacta*/
@font-face {
    font-family: compacta;
    src: url(/fonts/Compacta/compacta.ttf);
}

/*HevelticaNow*/
@font-face {
    font-family: HNLight;
    src: url(/fonts/HevelticaNow/nowtext/HelveticaNowText-Light.otf);
}
@font-face {
    font-family: HNItalic;
    src: url(/fonts/HevelticaNow/nowtext/HelveticaNowText-MediumItalic.otf);
}
@font-face {
    font-family: HN;
    src: url(/fonts/HevelticaNow/nowtext/HelveticaNowText-Regular.otf);
}
@font-face {
    font-family: HNBold;
    src: url(/fonts/HevelticaNow/nowtext/HelveticaNowText-Bold.otf);
}

/*Heveltica World*/
@font-face {
    font-family: HW;
    src: url(/fonts/HevelticaWorld/HelveticaWorld-Regular.ttf)
}
@font-face {
    font-family: HWBold;
    src: url(/fonts/HevelticaWorld/HelveticaWorld-Bold.ttf)
}
@font-face {
    font-family: HWItalic;
    src: url(/fonts/HevelticaWorld/HelveticaWorld-Italic.ttf)
}
@font-face {
    font-family: HWBoldItalic;
    src: url(/fonts/HevelticaWorld/HelveticaWorld-BoldItalic.ttf)
}

/*Lower WestSide*/
@font-face {
    font-family: Lower WestSide;
    src: url(/fonts/LowerWestSide/Lower-WestSide.ttf)
}

/*TBAbacus*/
@font-face {
    font-family: TBAbacus;
    src: url(/fonts/TBAbacus/TBAbacus.ttf);
}
