
#section1{
    background-color: #221e1f;
    width: 100%;
    height: 100vh;
    position: fixed;
    display:block;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#tagline {
    mix-blend-mode: difference;
    position: relative;
    top: 50%;
    left: 50%;
    float: center;
    transform: translate(-50%, -50%);
    font-family: HNBold;
    font-size: 140px;
    line-height: 115px;
    text-align: center;
    color: #fff9eb;
    letter-spacing: -3px;
    z-index: 895;
}

#tagline2 {
    mix-blend-mode: difference;
    position: relative;
    top: 50%;
    left: 50%;
    float: center;
    transform: translate(-50%, -50%);
    font-family: HNBold;
    font-size: 140px;
    line-height: 115px;
    text-align: center;
    color: #fff9eb;
    letter-spacing: -3px;
    z-index: 895;
}


#nameontagline {
    mix-blend-mode: difference;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: HN;
    font-size: 15px;
    line-height: 100px;
    text-align: center;
    color: #fff9eb;
    letter-spacing: 5px;
    z-index: 895;
}
#section2{
    background-color: #221e1f;
    width: 100%;
    height: 100vh;
    position: relative;
    display:block;
    /*display: flex*/
    /*padding: 50px*/
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    z-index: 801;
}